<h1> TODO lists</h1>

<% @projects.each do |project| %>

<div class="project">

 <h2><%= project.name %></h2>
 <%= link_to 'Edit', edit_project_path(project) %>
      <%= link_to 'Destroy', project_path(project),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
  <% project.tasks.each do |task| %>

  <p><%= task.name %></p>
   <%= link_to 'Destroy Task', [task.project, task],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
         <%= link_to 'Edit Task', edit_project_task_path(task.project, task) %>

  <%= form_for ([project, project.tasks.build]) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
  <% end %>
  <% end %>
<% end %>
</div>



<div>
<%= link_to 'New TODO list', new_project_path %>
</div>